body {
    display: grid;
    background: linear-gradient(#B6C0C5, #212121);
    background-size: cover;
    background-attachment: scroll;
    opacity: 79%;
    font-family: "Dosis";
    font-weight: bolder;
    text-shadow: white 1px 1px;
}

#nav {
    text-align: right;
}

#icon {
    font-size: 100px;
}

.back {
    height: 500px;
    background-image: url(./pics/Intricado.jpg);
    background-attachment: fixed;
    background-size: cover;
    justify-items: center;
    text-align: center;
}

h1 {
    font-size: 35px;
}

section {
    display: grid;
    justify-content: center;
    justify-items: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    text-align: center;
    margin: 20px 20px;
    gap: 20px;
}

.contour {
    border: 5px solid rgba(255, 255, 255, 0);
    box-shadow: black 2px 3px;
    border-radius: 15px;
    justify-content: center;
}

legend {
    border: 5px solid rgba(255, 255, 255, 0);
    box-shadow: black 2px 3px;
    border-radius: 15px;
}

i {
    font-size: 43px;
}
p{
    display: none;
}

a {
    marker: none;
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    text-shadow: 1px 1px;
}

span {
    font-size: 40px;
    color: red
}

section:hover {
    color: rgb(0, 70, 100);
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 3px;
    text-shadow: 1px 1px;
    transition-duration: 0.5s;
}

@media screen and (max-width: 372px) {
    #container{
       
        grid-template-columns: repeat(1, 1fr);
    }  
}
