body {
    display: grid;
   background-color: #333;
    background-size: contain;
    background-attachment:fixed;
    background-repeat: no-repeat;
    opacity: 79%;
    font-family: "Dosis";
    font-weight: bolder;
    text-shadow: white 2px 1px;
    margin: 10px;
}

nav {
    text-align: right;
    height: 60px;
    margin-right: 15px;
    font-size: 20px;
}

#icon {
    font-size: 100px;
}

.back {
    height: 160px;
   
    background-attachment: fixed;
    background-size: contain;

    justify-items: center;
    text-align: center;
    border-radius: 20px;
}

h1 {
    font-size: 35px;
}
main{
    justify-self: center;
    margin-right: 130px;
}


.menu {
    cursor: pointer;
    
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    justify-content: center;
    text-align: center;
    margin: 40px 20px;
    gap: 20px;
}

.contour {
    border: 5px solid rgba(255, 255, 255, 0);
    box-shadow: black 2px 3px;
    border-radius: 20px;
    justify-content: center;
}

legend {
    border: 5px solid rgba(255, 255, 255, 0);
    box-shadow: black 2px 3px;
    border-radius: 20px;
}

i {
    font-size: 30px;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

p {
    display: none;
}

a {
    marker: none;
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    text-shadow: 1px 1px;
}

span {
    font-size: 40px;
    color: red
}
i:hover{
    transform: rotate(360deg);
}


.contour:hover {
    color: rgb(0, 70, 100);
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 3px;
    text-shadow: 1px 1px;
    transition-duration: 0.5s;
    
    
}

.black{
    width: 100px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid black;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
    box-shadow: 2px 4px rgb(16, 223, 68);
    opacity: 88%;
}

.int {
    width: 200px;
    height: 100px;
    border-radius: 100px;
    border: 2px solid black;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    box-shadow: 2px 4px blue;
    opacity: 88%;
}

.red {
    margin-top: 100px;
    width: 200px;
    height: 100px;
    border-radius: 100px;
    border: 2px solid black;
    transition: width 2s, height 2s, transform 2s;
    box-shadow: 2px 4px red;
    opacity: 88%;
}

.yellow {
    width: 100px;
    height: 200px;
    margin-left: 100px;
    margin-top: -100px;
    border-radius: 100px;
    border: 2px solid black;
    transition: width 2s, height 2s, transform 2s;
    box-shadow: 2px 4px yellow;
    opacity: 88%;
}

.int:hover {
    transform: rotateY(360deg) rotateX(180deg) rotateZ(90deg);
}

.black:hover {
    transform: rotateY(180deg) rotateX(360deg) rotateZ(90deg);
}

.red:hover {
    transform: rotateZ(360deg) rotateY(180deg) rotateY(360deg);
}

.yellow:hover {
    transform: rotateZ(180deg)  rotateX(180deg) rotateY(180deg)0 ;
}

@media screen and (max-width: 380px) {
    body {
        max-width: 100%;
    }
    .back {
       
        width: 300px;
        height: 155px;
        border-radius: 50px;
    }
    #container {
        grid-template-columns: repeat(1, 1fr);
    }
    a {
        display: none
    }
}